$text-color-dark: #1c1e47;
$text-color-medium: #4d6175;
$text-color-light: #c5c8d9; //old 8898AAFF
$text-color-light2: #adbdcc;
$text-color-light-on-dark: #d8f3f1;
$text-color-white: #ffffff;
$text-color-link: #2798a9;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

//$font-title: Gilroy, sans-serif;
$font: Gilroy, Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-small: 0.82rem;
$font-size-medium: 0.875rem;
$font-size-normal: 1rem;
$font-size-title: 1.3rem;
$font-size-large: 3.1rem;


/**
Body
 */
$body-font-weight: $font-weight-regular;


$line-color-light: #ebedf5;
$line-color-dark: #b9d0e5;


$row-gap-small: 8px; //0.5rem
$row-gap-normal: 16px; //1rem
$row-gap-medium: 32px; //2rem
$row-gap-large: 64px; //4rem
$row-gap-extra-large: 96px; //6rem

$button-border-radius: 5px;

/**
Mixins
 */


/**
Responsive
 */
$tablet-width: 768px;
$desktop-width: 1020px;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 898px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1536px;
//$wide-desktop-width: 1920px;

@mixin tablet-and-wider {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin smaller-than-tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin smaller-than-desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-and-wider {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin wider-than-1280 {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin wider-than-1440 {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin wider-than-1920 {
  @media (min-width: 1920px) {
    @content;
  }
}
