@import "../variables";

.call-to-action-footer {
  //padding-bottom: $row-gap-medium;
  //position: relative;


  .column {
    background: $background-dark-blue;
    padding: $row-gap-large;
    border-radius: 20px;

    //@include align-items(flex-end);

    .copy-title, .copy-content {
      color: #fff;
    }

    .button {
      background-color: #fff;
      color: $background-dark-blue;
      border-color: $background-dark-blue;

      &::before, &::after {
        border-color: $background-dark-blue;
      }

      &:hover {
        background-color: $background-dark-blue;
        color: #fff;
        border-color: #fff;

        &::before, &::after {
          border-color: #fff;
        }
      }
    }
  }

  //&::after {
  //  content: "";
  //  background-color: $background-dark-blue;
  //  width: 100%;
  //  height: 50%;
  //  display: block;
  //  position: absolute;
  //  bottom: -50px;
  //
  //}
}


footer {
  color: #ffffff;

  section {
    //padding-top: $row-gap-extra-large;
    //padding-bottom: $row-gap-large;
    padding-top: 0;
    padding-bottom: 0;
  }


  .container {
    //width: 100%;
    //max-width: 1080px;
    //margin-left: auto;
    //margin-right: auto;

    padding-top: $row-gap-large;
    padding-bottom: $row-gap-large;

    .column.col-footer {

      grid-template-columns: repeat(1, 1fr);
      @include tablet-and-wider {
        grid-template-columns: repeat(2, 1fr);
      }
      @include tablet-and-wider {
        grid-template-columns: repeat(5, 1fr);
      }

      .title {
        color: #ffffff;
        font-size: $font-size-medium;
        line-height: 24px;
        margin-bottom: $row-gap-normal;
        margin-top: 0;
        font-weight: $font-weight-bold;
        //font-family: $font-title;
        //font-weight: $font-weight-regular;
        font-style: normal;
      }

      ul {
        list-style: none;

        display: grid;
        grid-gap: $row-gap-normal;

        li {
          //margin-top: 4px;
          //margin-bottom: 4px;
          //font-size: $font-size-medium;

          a {
            font-weight: $font-weight-light;
            color: $text-color-light-on-dark;
          }
        }
      }
    }


    .newsletter {
      display: flex;

      input {
        outline: none;
        margin: 0;
        padding: 9px 13px;
        font: inherit;
        background: #ffffff;
        color: $text-color-dark;
        font-weight: $font-weight-regular;
        font-size: $font-size-normal;

        border: 1px solid $line-color-dark;
        border-right: 0 none;

        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 50%;

        @include border-radius($button-border-radius 0 0 $button-border-radius);
        @include placeholder {
          color: $text-color-light;
        }
      }

      button {
        margin: 0;
        border: none;
        outline: none;
        background: $highlight_attlaz;


        font-weight: 600;

        color: #ffffff;
        cursor: pointer;


        -webkit-transition: all .15s ease;
        transition: all .15s ease;

        height: 50px;
        width: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include border-radius(0 $button-border-radius $button-border-radius 0);

      }
    }

    .logo {
      text-align: left;


      a {
        appearance: none;
        background-color: transparent;
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
        fill: $text-color-light-on-dark;


        svg {
          height: 24px;
        }
      }
    }


    .row-bottom {
      color: $text-color-light-on-dark;
      //margin-top: $row-gap-extra-large;
      //border-top: 1px solid $line-color-dark;

      .copyright {
        font-size: $font-size-small;
      }

      .legal {
        text-align: center;
        font-size: $font-size-small;
      }

      .social {

        text-align: right;

        @include tablet-and-wider {


        }

        @include smaller-than-tablet {

        }

        div {
          //@include display-inline-flex();


          div {
            //border: 1px solid $text-color-light;
            //@include border-radius(50%);
            width: 20px;
            height: 20px;
            //line-height: 43px;
            text-align: center;

            a {
              fill: $text-color-light;


              svg {
                width: 14px;
              }
            }
          }
        }
      }
    }

    &.container-bottom {
      border-top: 1px solid $line-color-dark-on-dark;
      padding-top: $row-gap-medium;
      padding-bottom: $row-gap-medium;
    }
  }

  li a {
    color: $text-color-light-on-dark;
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
    &:hover {
      background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
    }
  }
}
